/* columns */

.ah {
    display: flex;
    position: relative;
    margin-top: -20px;
}

.ah .sidebar {
    display: block;
    width: 24%;
    top: 0;
    padding-top: 184px;
}

.ah .sidebar .fixed {
    top: 206px;
    position: sticky;
    width: 25%;
}

.ah .ah-content {
    width: 76%;
    display: block;
}

.numbering span {
    font-weight: 400;
    font-size: 20px;
    transition: font-size .2s ease-in;
}

.numbering p {
    font-size: 20px;
    transition: font-size .2s ease-in;
}

@media (max-width: 1250px) {
    .numbering span {
        font-size: 19px;
        transition: font-size .2s ease-in;
    }
    .numbering p {
        font-size: 19px;
        transition: font-size .2s ease-in;
    }
}

@media (max-width: 980px) {
    .numbering span {
        font-size: 18px;
        transition: font-size .2s ease-in;
    }
    .numbering p {
        font-size: 18px;
        transition: font-size .2s ease-in;
    }
}

@media (max-width: 740px) {
    .numbering span {
        font-size: 17px;
        transition: font-size .2s ease-in;
    }
    .numbering p {
        font-size: 17px;
        transition: font-size .2s ease-in;
    }
}

@media (max-width: 925px) {
    .ah {
        margin-top: 100px;
    }
    .ah .sidebar {
        display: none;
    }
    .ah .ah-content {
        width: 100%;
    }
}


/* section css */

.ah-section {
    display: flex;
}

.ah-content h2 {
    font-family: 'Roslindale';
    color: var(--bgcolours);
    font-size: 34px;
    margin-top: 14px;
    margin-bottom: 40px;
    transition: font-size .2s ease-in;
}

@media (max-width: 1700px) {
    .ah-content h2 {
        font-size: 32px;
        transition: font-size .2s ease-in;
    }
}

@media (max-width: 1250px) {
    .ah-content h2 {
        font-size: 30px;
        transition: font-size .2s ease-in;
    }
}

@media (max-width: 980px) {
    .ah-content h2 {
        font-size: 28px;
        transition: font-size .2s ease-in;
    }
}

@media (max-width: 740px) {
    .ah-content h2 {
        font-size: 24px;
        transition: font-size .2s ease-in;
    }
}

.contain {
    flex: 1;
}

.ah-section .contain img {
    width: 90%;
    margin-bottom: 10%;
}

iframe {
    width: 90%;
    margin-bottom: 10%;
}

@media (max-width: 925px) {
    .ah-section {
        flex-direction: column;
    }
    .ah-section .contain img {
        width: 100%;
        margin-bottom: 2.5%;
    }
    iframe {
        width: 100%;
        margin-bottom: 2.5%;
    }
}

.column {
    flex-direction: column;
}

.column h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    transition: font-size .2s ease-in;
}

.column h4 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #7E7E7E;
    transition: font-size .2s ease-in;
}

@media (max-width: 1700px) {
    .column h3 {
        font-size: 22px;
        transition: font-size .2s ease-in;
    }
    .column h4 {
        font-size: 18px;
        transition: font-size .2s ease-in;
    }
}

@media (max-width: 1250px) {
    .column h3 {
        font-size: 20px;
        transition: font-size .2s ease-in;
    }
}

@media (max-width: 980px) {
    .column h3 {
        font-size: 18px;
        transition: font-size .2s ease-in;
    }
    .column h4 {
        font-size: 16px;
        transition: font-size .2s ease-in;
    }
}

@media (max-width: 740px) {
    .column h3 {
        font-size: 17px;
        transition: font-size .2s ease-in;
    }
    .column h4 {
        margin-bottom: 36px;
    }
}

.italics {
    font-style: italic;
}

h3.m-b {
    margin-bottom: 20px;
}

.m-b i {
    margin-right: 10px;
}

h2.secondtitle {
    margin-top: 0;
}


/* sections */

#art {
    font-weight: 400;
}

#section-art {
    padding-top: 184px;
}

#section-pg {
    padding-top: 184px;
}

#section-journal {
    padding-top: 184px;
}

#section-pd {
    padding-top: 184px;
}

#section-playlists {
    padding-top: 184px;
}

#section-extra {
    padding-top: 184px;
    margin-bottom: 168px;
}

@media (max-width: 925px) {
    #section-art {
        padding-top: 0px;
    }
    #section-pg {
        padding-top: 100px;
    }
    #section-journal {
        padding-top: 100px;
    }
    #section-pd {
        padding-top: 100px;
    }
    #section-playlists {
        padding-top: 100px;
    }
    #section-extra {
        padding-top: 100px;
    }
    #section-extra {
        padding-top: 100px;
        margin-bottom: 80px;
    }
}