/* new code for project sections */

.project {
    margin: 0 auto;
    width: 70%;
}

@media (max-width: 1250px) {
    .project {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    .project {
        width: 100%;
    }
    .next-prev {
        width: 90%;
        margin: auto;
    }
}


/* @media (max-width: 1250px) {
    .top-image {
        margin-top: 50px;
    }
} */


/* project information */

.project .proj-content .section {
    margin-bottom: 7em;
}

.proj-images img {
    width: 100%;
    margin-bottom: 4em;
}

@media (max-width: 540px) {
    .proj-images img {
        padding: 0;
    }
}

.project .proj-content .proj-text {
    width: 65%;
    margin: 0 auto;
}

.section .proj-text .title h1 {
    font-family: 'Roslindale';
    color: var(--textcolours);
    font-size: 6em;
    font-weight: 700;
    margin-top: 20px;
    transition: font-size .2s ease-in;
}

@media (max-width: 1250px) {
    .section .proj-text .title h1 {
        font-size: 5em;
        transition: font-size .2s ease-in;
    }
}

@media (max-width: 1000px) {
    .section .proj-text .title h1 {
        font-size: 4em;
        transition: font-size .2s ease-in;
    }
}

@media (max-width: 800px) {
    .section .proj-text .title h1 {
        font-size: 2.75em;
        transition: font-size .2s ease-in;
    }
}

.section .proj-text .title h2 {
    color: var(--textcolours);
    font-size: 2.25em;
    margin-top: 1em;
    font-weight: 400;
    transition: font-size .2s ease-in;
}

@media (max-width: 1250px) {
    .section .proj-text .title h2 {
        font-size: 2em;
        transition: font-size .2s ease-in;
    }
}

@media (max-width: 1000px) {
    .section .proj-text .title h2 {
        font-size: 1.65em;
        transition: font-size .2s ease-in;
    }
}

@media (max-width: 800px) {
    .section .proj-text .title h2 {
        font-size: 1.25em;
        transition: font-size .2s ease-in;
    }
}

.project .section-header p {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: 600;
    color: #aaa;
    font-family: 'Roslindale';
    transition: font-size .2s ease-in;
}

hr {
    border-color: #aaa;
}

.text-container {
    margin-bottom: 4em;
}

.text-container .stats {
    padding: 0 24px 50px 0;
}

.text-container h1 {
    font-size: 2em;
    font-weight: 400;
    transition: font-size .2s ease-in;
}

.text-container h2 {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: -10px;
    color: var(--textcolours);
    transition: font-size .2s ease-in;
}

.text-container h3 {
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--textcolours);
    transition: font-size .2s ease-in;
}

.text-container p {
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 1.25em;
    line-height: 24px;
    color: var(--textcolours);
    transition: font-size .2s ease-in;
}

.numbering span {
    display: inline-block;
    position: absolute;
    font-size: 1.1em;
    color: var(--textcolours);
    font-weight: 600;
    transition: font-size .2s ease-in;
}

.numbering p {
    padding-top: 2px;
    margin-left: 2em;
    margin-bottom: 10px;
    font-size: 1.1em;
    line-height: 18px;
    color: var(--textcolours);
    transition: font-size .2s ease-in;
}

@media (max-width: 1700px) {
    .text-container h2 {
        font-size: 1.75em;
        transition: font-size .2s ease-in;
    }
    .text-container p {
        font-size: 1.2em;
        transition: font-size .2s ease-in;
    }
    .project .section-header p {
        font-size: 1.45em;
        transition: font-size .2s ease-in;
    }
}

@media (max-width: 1250px) {
    .text-container h2 {
        font-size: 1.6em;
        transition: font-size .2s ease-in;
    }
    .text-container p {
        font-size: 1.125em;
        transition: font-size .2s ease-in;
    }
    .project .section-header p {
        font-size: 1.35em;
        transition: font-size .2s ease-in;
    }
}

@media (max-width: 980px) {
    .text-container h2 {
        font-size: 1.5em;
        transition: font-size .2s ease-in;
    }
    .project .section-header p {
        font-size: 1.35em;
        transition: font-size .2s ease-in;
    }
}

.numbering img {
    margin-left: 2em;
    width: 96%;
}

.stats-section {
    display: flex;
}

.contain {
    flex: 1;
}

.stats-section .contain p {
    margin-bottom: 0;
}

@media (max-width: 925px) {
    .stats-section {
        flex-direction: column;
    }
    .stats-section .contain h2,
    .stats-section .contain p {
        width: 100%;
        margin-bottom: 2.5%;
    }
}


/* for section header only */

.m-t-2 {
    margin-top: 2em;
}


/* gslides responsive container */

.gslides-container {
    position: relative;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
    margin-bottom: 4em;
}

.gslides-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* end credits next pj buttons */

.next-pj {
    text-align: end;
    margin-bottom: 80px;
}

.next-pj span {
    font-weight: 400;
}

.prev-pj {
    text-align: start;
    margin-bottom: 80px;
}

.prev-pj span {
    font-weight: 400;
}