:root {
    --bgcolours: #000000;
    --projecttext: #E3D7CA;
}


.container {
    position: relative;
}

.project-content {
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 60px 0;
}

.proj-img-1 {
    --imageHeight: 950px;
    background: url(../projects/pj-cards/fl.png) center;
    height: calc(var(--imageHeight) * 2);
    animation: roll 14s linear infinite;
    transition: opacity 0.2s ease-out;
}
  
.proj-img-2 {
    --imageHeight: 950px;
    background: url(../projects/pj-cards/cdk.png) center;
    height: calc(var(--imageHeight) * 2);
    animation: roll 14s linear infinite;
    transition: opacity 0.2s ease-out;
}

.overlay {
    opacity: 1 !important;
    position: relative;
    z-index: 0;
}

.overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.section {
    /* margin-bottom: 4em; */
    width: 45%;
    margin: 0 auto;
}

.sub-section {
    margin-bottom: 1.75em;
    /* padding: 0 20px; */
}

.proj-image {
    width: 100%;
    background-size: cover;
}

.section .proj-image {
    z-index: -100;
    position: relative;
}

.numbering img {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}




/* next/prev */
.next-prev {
    width: 90%;
    margin: auto;
}

.prev-pj {
    text-align: start;
    margin-bottom: 120px;
}

.next-pj {
    text-align: end;
    margin-bottom: 120px;
}




/* margins */
.no-m-b {
    margin-bottom: 0 !important;
}

.no-m-t {
    margin-top: 0 !important;
}

.section-bottom {
    margin-bottom: 44px;
}

.r-m {
    margin-right: 12px;
}

.t-b-m {
    margin: 60px 0 80px
}

.ptext-m-b {
    margin-bottom: 8px !important;
}



/* text */
.next-prev h2 {
    font-size: 20px;
    text-shadow: 0 0 3px #6B35DC, 0 0 5px #3A1688 !important;
    color: var(--projecttext);
}

.project-content h3 {
    margin: 0 0 20px;
    color: var(--projecttext);
}

.project-content h4 {
    color: var(--textcolours);
    filter: blur(0.2px);
    margin: 0;
    text-shadow: 0 0 12px #8861db, 0 0 14px #000 !important;
    color: var(--projecttext);
}

.project-content .section h4 {
    font-size: 24px;
    line-height: 24px;
    color: var(--projecttext);
    text-shadow: none !important;
}

.project-content h5 {
    color: #afacb4;
    filter: blur(0.2px);
    margin: 0;
    font-family: 'Romie-Black';
    font-size: 36px;
    margin-bottom: 8px;
}

.sub-section p {
    margin-bottom: 4px;
    font-size: 15.5px;
    font-family: 'Helvetica-Neue Regular';
    letter-spacing: 0.5px;
    color: var(--projecttext);
    text-shadow: none !important;
}

.sub-section p .subheader{
    font-size: 16.5px;
    font-family: 'HelveticaNeue-Light';
    letter-spacing: 0;
    text-shadow: 0 0 3px #6B35DC, 0 0 5px #3A1688 !important;
}



/* media queries */
@media (max-width: 1475px) {
    .project-content h3 {
        font-size: 48px;
        letter-spacing: 10px;
        transition: font-size .2s ease-in;
    }
}

@media (max-width: 1150px) {
    .project-content h3 {
        font-size: 42px;
        letter-spacing: 8px;
        transition: font-size .2s ease-in;
    }
}

@media (max-width: 1000px) {
    .section {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .section {
        width: 60%;
    }
    .section-bottom {
        margin-bottom: 36px;
    }
    .numbering img {
        width: 85%;
    }
    .next-prev h2 {
        font-size: 18px;
    }
    .sub-section p {
        margin-bottom: 2px;
    }
    .project-content h3 {
        font-size: 36px;
        letter-spacing: 7px;
        transition: font-size .2s ease-in;
        margin: 16px 0;
    }
    .project-content .section h4 {
        font-size: 18px;
        transition: font-size .2s ease-in;
    }
    .project-content h5 {
        font-size: 30px;
        transition: font-size .2s ease-in;
    }
    .t-b-m {
        margin: 28px 0 28px
    }
}

@media (max-width: 600px) {
    .section-bottom {
        margin-bottom: 30px;
    }
    .project-content {
        margin: 48px 0;
    }
    .project-content h3 {
        font-size: 30px;
        letter-spacing: 3px;
        transition: font-size .2s ease-in;
        margin: 12px 0;
    }
    .project-content h5 {
        font-size: 20px;
        margin-bottom: 6px;
        transition: font-size .2s ease-in;
    }
    .sub-section p {
        margin-bottom: 2px;
        font-size: 14px;
        transition: font-size .2s ease-in;
        line-height: 16px !important;
    }
    .sub-section p .subheader{
        font-size: 15px;
    }
    .project-content .section h4 {
        line-height: 20px !important;
    }
}

@media (max-width: 550px) {
    .next-prev h2 {
        font-size: 16px;
    }
    .project-content h3 {
        font-size: 26px;
        letter-spacing: 3px;
        transition: font-size .2s ease-in;
    }
}