/* project image hover */
#project-text-1, 
#project-text-2,
#project-text-3, 
#project-text-4 {
  padding-top: 2px;
  font-size: 14px;
}

span.pj-text {
    z-index: 100;
    display: flex;
    justify-content: center;
    text-align: center;
}

#proj-text-1, 
#proj-text-2,
#proj-text-3,
#proj-text-4 {
    position: absolute;
    top: 37%;
    width: 100%;
    transition: opacity 0.26s ease-out;
}

span.subtext-1 p,
span.subtext-2 p,
span.subtext-3 p,
span.subtext-4 p {
    color: #000;
    text-shadow: none !important;
    filter: blur(0px);
    margin: 0;
    font-size: 15px;
    z-index: 1000;
}

span.text-1 h3,
span.text-2 h3,
span.text-3 h3, 
span.text-4 h3 {
    color: #000;
    text-shadow: none !important;
    filter: blur(0px);
    margin: 16px;
    z-index: 1000;
}

.projects {
    display: flex;
    flex-direction: column;
}



/* project roll animation */
.overlay {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.26s ease-out;
    z-index: -100;
    display: block;
  }
  
.img-container {
  height: 100vh;
}

.proj-img-1 {
  --imageHeight: 950px;
  background: url(../projects/pj-cards/lh.png) center;
  height: calc(var(--imageHeight) * 2);
  animation: roll 14s linear infinite;
  transition: opacity 0.26s ease-out;
}

.proj-img-2 {
  --imageHeight: 950px;
  background: url(../projects/pj-cards/fl.png) center;
  height: calc(var(--imageHeight) * 2);
  animation: roll 14s linear infinite;
  transition: opacity 0.26s ease-out;
}

.proj-img-3 {
  --imageHeight: 950px;
  background: url(../projects/pj-cards/cdk.png) center;
  height: calc(var(--imageHeight) * 2);
  animation: roll 14s linear infinite;
  transition: opacity 0.26s ease-out;
}

.proj-img-4 {
  --imageHeight: 950px;
  background: url(../projects/pj-cards/dt.png) center;
  height: calc(var(--imageHeight) * 2);
  animation: roll 14s linear infinite;
  transition: opacity 0.26s ease-out;
}

@keyframes roll{
  0% {
      transform: translateY(0px);
  }
  100% {
      transform: translateY(calc(var(--imageHeight) * -1));
  }
}