/* main */
:root {
    --bgcolours: #000000;
    --textcolours: #9295ef;
    --projecttext: #E3D7CA;
}

/* @font-face {
    font-family: 'Romie-Medium';
    src: url(../assets/font/romietrial-medium-webfont.woff) format("woff");
    font-weight: medium;
} */

@font-face {
    font-family: 'Romie-Bold';
    src: url(../assets/font/romietrial-bold-webfont.woff) format("woff");
    font-weight: bold;
}

@font-face {
    font-family: 'Romie-Black';
    src: url(../assets/font/romietrial-black-webfont.woff) format("woff");
    font-weight: black;
}

/* @font-face {
    font-family: 'Helvetica-Neue Light';
    src: url(../assets/font/helveticaneue-light-webfont.woff) format("woff");
    font-weight: light;
}
 */

@font-face {
    font-family: 'Helvetica-Neue Regular';
    src: url(../assets/font/helveticaneue-roman-webfont.woff) format("woff");
    font-weight: normal;
}

.pointer {
    cursor: url(../assets/cursors/pointer.svg) 2 2, pointer;
    size: 20px;
}

html {
    height: -webkit-fill-available;
}

body {
    min-height: -webkit-fill-available;
    cursor: url(../assets/cursors/auto.svg) 2 2, auto;
    margin: 0;
}

html,
body {
    background-color: var(--bgcolours);
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    font-family: "Helvetica Neue Bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica Neue Medium", "Lucida Grande", Arial, sans-serif;
}

hr {
    margin: 20px 0;
    border: 0;
    height: 1.5px;
    background: #6355B8;
}





/* extra */
.italics {
    font-style: italic;
}

.spacing {
    padding: 0 10px 0;
}

.two-m-b {
    margin-bottom: 2px !important;
}

.zero-m {
    margin: 0;
}

#bg-audio {
    display: none;
}

.star {
    color: #6355B8;
}

.glowing {
    color: #afb1fc !important;
}

.child {
    /* background-color: red; */
    padding: 0 10px 10px;
    z-index: 1000;
}

.pj-title {
    font-family: 'Romie-Black';
    text-shadow: 0 0 8px #6B35DC !important
}

/* .link-padding {
    padding: 2px;
} */




/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--textcolours);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8E92FF;
}





/* text */
h1 {
    font-family: "Romie-Bold", serif;
    color: var(--textcolours);
    font-size: 100px;
    margin: -4px;
    line-height: 0.9;
    letter-spacing: 5px;
    transition: font-size .2s ease-in;
    filter: blur(0.1px);
    text-shadow: 0 0 4px #6B35DC, 0 0 6px #3A1688 !important
}

h3 {
    font-family: "Romie-Bold", serif;
    color: var(--textcolours);
    font-size: 60px;
    line-height: 0.9;
    letter-spacing: 14px;
    transition: font-size .2s ease-in;
    filter: blur(0.1px);
    text-shadow: 0 0 4px #6B35DC, 0 0 5px #000 !important;
}

p {
    color: var(--textcolours);
    font-weight: 700;
    font-size: 14.5px;
    margin-top: 0;
    transition: font-size .2s ease-in;
    filter: blur(0.1px);
    text-shadow: 0 0 3px #6B35DC, 0 0 5px #3A1688 !important;
}

.normal-font {
    font-family: 'Helvetica-Neue Regular';
}
.m-b-zero {
    margin-bottom: 0;
}





/* main body content */
.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content {
    display: block;
    /* flex-direction: column;
    align-items: center;
    justify-content: flex-end; */
    opacity: 1;
    transition: opacity 0.12s ease-out;
}

.body-content {
    text-align: center;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    /* width: 70vw; */
}






/* header / footer */
.top-bar {
    width: 100%;
    position: fixed;
    top: 0;
    padding: 16px 0;
    z-index: 10;
}

.two-bars {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-bar {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.top-bar p span,
.bottom-bar p span {
    margin: 0;
}





/* header container + spacing */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -100;
    opacity: 0.1;
}

.header-spacing {
    padding-right: 80px;
}

.middle-spacing {
    padding-right: 380px;
}

.bottom-spacing {
    padding-right: 340px;
}





/* about page content */
.experiences, .prose-entries {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
}

.exp-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.exp-row p {
    margin-bottom: 2px;
    text-align: left;
}