* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    max-height: 100%;
    margin: 0 auto;
    height: 100%;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
    /* background: url(black.png);
    background-repeat: no-repeat;
    background-size: cover; */
}


/* NAVBAR */

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    margin: 0;
}

.main-nav {
    width: 90vh;
    height: 6.5vh;
    position: fixed;
    -webkit-transform-origin: left top;
    -webkit-transform: rotate(-90deg) translateX(-100%);
}

ul.nav {
    margin: 0 auto;
    height: 100%;
}

ul.nav li {
    margin-right: 20px;
    float: right;
    height: 100%;
    line-height: 45px;
    margin-bottom: 10px;
}

ul.nav li a {
    color: #9ea3a3;
    font-size: 1.4em;
}

.navbar {
    background-color: #202020;
}

.navbar .navbar-brand {
    color: #999 !important;
    font-family: 'Merriweather', serif;
    /* margin-left: 2em; */
}

.nav-item .nav-link {
    font-family: Poppins, sans-serif;
}

.icon-beside {
    margin-left: 15px;
}

@media (min-width: 1250px) {
    .navbar {
        display: none !important;
    }
}

@media (max-width: 1250px) {
    .main-nav {
        display: none;
    }
}


/* intro */

.intro {
    margin-top: 5em;
    height: 100%;
    z-index: 100;
}

@media (max-width: 480px) {
    .intro {
        margin-top: 4em;
    }
}

.intro .vertical-ani {
    margin-bottom: -5px;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: auto;
    font-size: 9.55em;
    font-weight: 900;
    color: #9ea3a3;
}

@media (max-width: 900px) {
    .intro .vertical-ani {
        font-size: 8.5em;
    }
}

@media (max-width: 768px) {
    .intro .vertical-ani {
        font-size: 8em;
    }
}

@media (max-width: 600px) {
    .intro .vertical-ani {
        font-size: 6em;
    }
}

@media (max-width: 480px) {
    .intro .vertical-ani {
        font-size: 4em;
    }
}

@media (max-width: 320px) {
    .intro .vertical-ani {
        font-size: 3.75em;
    }
}

.margin-height {
    margin-top: 15vh;
    margin-bottom: 15vh;
}

@media (max-width: 900px) {
    .margin-height {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
}

@media (max-width: 400px) {
    .margin-height {
        margin-top: 6vh;
        margin-bottom: 6vh;
    }
}


/* .vertical-ani {
  overflow: hidden;
}

.vertical-ani h1 {
  display: inline-block;
  transform: translateY(100%);
}

.intro .vertical-ani h1 {
  transition: .5s;
}

.intro.active .intro .vertical-ani h1 {
  transform: translateY(0);
} */


/* text */

h1 {
    font-family: 'Poppins', sans-serif;
    color: #9ea3a3;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color: #9ea3a3;
    font-size: 2em;
}

h3 {
    font-family: 'Poppins', sans-serif;
    color: #9ea3a3;
    font-size: 1.5em;
}

h4 {
    color: #727979;
    font-size: 1.5em;
}

h5 {
    color: #9ea3a3;
    font-size: 1.5em;
}

.definition h2 {
    font-size: 2em;
}

.definition h3 {
    font-size: 1.75em;
}

.definition h4 {
    font-size: 1.5em;
}

.definition h5 {
    font-size: 1.25em;
}

@media (max-width: 600px) {
    .definition h5 {
        font-size: 1.1em;
    }
}

.top-bar-text {
    font-family: 'Poppins', sans-serif;
    color: #9ea3a3;
}

@media (max-width: 768px) {
    .top-bar-text {
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    .top-bar-text {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .top-bar-text {
        font-size: 0.75em;
    }
}

.imagecontain {
    background-position: top center;
    height: 400px;
    background-image: url("projects/bluecat-assets/bluecat.png");
    background-repeat: no-repeat;
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagecontain2 {
    background-position: top center;
    height: 400px;
    background-image: url("projects/ideation-assets/circle.png");
    background-repeat: no-repeat;
    margin-top: 5em;
    margin-bottom: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-intro {
    text-align: center;
}

.project-intro h1 {
    font-size: 4em;
}

.project-intro h2 {
    font-size: 1.82em;
}

.project-intro h3 {
    font-size: 1.5em;
}

.project-text {
    margin-top: 12em;
}

.project-text h1 {
    text-align: center;
    font-weight: 900;
    font-size: 2em;
}

.project-text h2 {
    text-align: center;
    font-size: 1.2em;
}

.project-text h3 {
    text-align: center;
    font-size: 1.5em;
}

.pj-text h1 {
    font-size: 1.5em;
    color: #d5aaff;
    font-weight: 450;
    text-align: center;
}

.pj-text h2 {
    font-size: 2.2em;
    font-weight: 900;
    text-align: center;
}

.pj-text h3 {
    font-size: 1.2em;
    text-align: center;
}

.pj-text h4 {
    font-size: 1.2em;
    text-align: center;
}

.pj-text h5 {
    font-size: 1.75em;
    font-weight: 425;
    text-align: center;
}

.margin-t-6 {
    margin-top: 6em;
}

.margin-b-6 {
    margin-bottom: 6em;
}

.section1 {
    margin-top: 10em;
}

.bc-extrapj {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.bc-extrapj a {
    font-size: 2.75em;
    color: #9ea3a3;
    font-weight: 400;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bc-extrapj h1 {
    font-size: em;
    color: #d5aaff;
    font-weight: 700;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.end-list-pj {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.end-list-pj a {
    font-size: 2.5em;
    color: #9ea3a3;
    font-weight: 500;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.containercard {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}


/* project cards */

.container .pjcontain .hiddencard {
    height: 400px;
    opacity: 0;
    transition: opacity ease-out 325ms;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
}

@media (max-width: 600px) {
    .container .pjcontain .hiddencard {
        opacity: 0.9;
    }
}

.container .pjcontain:hover .hiddencard {
    opacity: 0.9;
    transition: opacity ease-in 325ms;
}

.container .pjcontain h2 {
    color: #9ea3a3;
    margin-left: 6.05vw;
    transition: color 325ms ease-out;
}

.container .pjcontain:hover h2 {
    color: #fff;
    transition: color 325ms ease-out;
}

@media (max-width: 600px) {
    .container .pjcontain h2 {
        color: #fff;
    }
}

.container .pjcontain .hiddencard img {
    object-fit: cover;
    transform: scale(1.35);
    transition: transform .9s ease-in-out;
    min-width: 100%;
    min-height: 100%;
}

@media (max-width: 600px) {
    .container .pjcontain .hiddencard img {
        transform: scale(1.35);
    }
}

@media (max-width: 900px) {
    .pj-contain h1 {
        font-size: 2.2em;
    }
}

.container .pjcontain:hover .hiddencard img {
    object-fit: cover;
    transform: scale(1);
    transition: transform .6s ease-out;
}

.edges {
    border: #9ea3a3 solid 1px;
}

.pj-contain {
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    z-index: 1;
}

.pj-contain h1 {
    color: #ffffff;
    margin-left: 6vw;
    font-size: 2.4em;
}

@media (max-width: 900px) {
    .pj-contain h1 {
        font-size: 2.2em;
    }
}

@media (max-width: 768px) {
    .pj-contain h1 {
        font-size: 1.85em;
    }
}

@media (max-width: 600px) {
    .pj-contain h1 {
        font-size: 1.6em;
        font-weight: 900;
    }
}

.pj-contain h2 {
    font-size: 1.4em;
    margin-left: 6vw;
    margin-top: -25vh;
}

@media (max-height: 568px) {
    .pj-contain h2 {
        margin-top: -30vh;
    }
}

@media (max-width: 900px) {
    .pj-contain h2 {
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {
    .pj-contain h2 {
        font-size: 1.1em;
    }
}

.pj-contain h3 {
    font-size: 1.6em;
    margin-left: 6vw;
    padding-right: 7em;
    color: #ffffff;
}

@media (max-width: 900px) {
    .pj-contain h3 {
        font-size: 1.4em;
    }
}

@media (max-width: 768px) {
    .pj-contain h3 {
        font-size: 1.1em;
        width: 100%;
    }
}

.pj-contain h4 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 1.4em;
    margin-left: 6vw;
    margin-bottom: 4vh;
    padding-left: 11pt;
}

@media (max-width: 900px) {
    .pj-contain h4 {
        font-size: 1.2em;
    }
}

@media (max-width: 768px) {
    .pj-contain h4 {
        font-size: 1.1em;
    }
}


/* end project cards */

.projectimg {
    margin-top: 9em;
    margin-bottom: 9em;
}

.pjimg {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    display: block;
}

.btn-primary {
    background-color: #714288 !important;
    border-color: #714288 !important;
    color: #9ea3a3 !important;
    font-family: 'Poppins', sans-serif,
}

.btn-primary:hover {
    background-color: #9153ac !important;
    border-color: #9153ac !important;
    color: #fff !important;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited {
    box-shadow: none !important;
}

.page {
    padding-right: 2em;
    padding-left: 2em;
}


/* text hover animation */

.highlight {
    color: #9ea3a3;
    display: inline-block;
    text-decoration: none;
    transition: color 325ms;
    position: relative;
    z-index: 0;
}

.highlight::after {
    background-color: #714288;
    position: absolute;
    text-decoration: none;
    z-index: -1;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: '';
    height: 1px;
    transition: 325ms;
}

.highlight:hover {
    color: #fff;
    text-decoration: none;
    transition: all 325ms;
}

.highlight:hover::after {
    height: 52%;
    width: 100%;
}

.arrows {
    color: #9ea3a3;
    display: inline-block;
    text-decoration: none;
    transition: color 325ms;
    position: relative;
    z-index: 0;
}

.arrows:hover {
    color: #fff;
    text-decoration: none;
    transition: all 325ms;
}

.arrows:hover::after {
    height: 52%;
    width: 100%;
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*  */

@media only screen and (max-width: 540px) {
    img {
        flex-direction: column;
        padding: 35px;
    }
}


/* end text hover animation */


/* photo grid */

.contain {
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px 300px 300px;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.contain img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#art1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#art4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

#art7 {
    grid-column-start: 3;
    grid-column-end: 5;
}

#pic3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

#pic4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .content-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .content-column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.playlist {
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 25px;
}