/* new code for project sections */

.project {
    margin-top: 5em;
}

.project {
    position: relative;
    left: 8%;
    width: 84%;
    display: flex;
}


/* fixed side */

.project .side-info {
    width: 35%;
    display: block;
    top: 0;
}

.project .side-info .fixed {
    top: 5rem;
    position: sticky;
}

.project .side-info h1 {
    margin-top: 0;
    margin-bottom: 40px;
    padding-right: 15px;
    font-size: 2.5rem;
    font-family: 'Poppins';
    font-weight: 500;
    width: 100%;
}

.project .side-info h2 {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 10px;
}

.project .side-info p {
    width: 70%;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 1.1em;
    line-height: 18px;
    color: #9ea3a3;
}

.project .side-info p a {
    color: #9ea3a3;
    text-decoration: none;
}

.project .side-info p a:hover {
    color: #fff;
    transition: all 325ms;
    cursor: crosshair;
}


/* project information */

.project .proj-content {
    width: 60%;
    display: block;
    margin-left: 0;
}

.proj-images img {
    width: 100%;
    margin-bottom: 4em;
}

.project .proj-content .proj-text {
    width: 70%;
}

.project .section-header p {
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 400;
    color: #9ea3a3;
}

hr {
    background-color: #9ea3a3;
}

.text-container {
    margin-top: 2em;
    margin-bottom: 5em;
}

.text-container h2 {
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 10px;
}

.text-container p {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 1.1em;
    line-height: 18px;
    color: #9ea3a3;
}