/* new code for project sections */

.project {
    margin: 0 auto;
    width: 70%;
}

.main-nav {
    width: 98vh;
}


/* project information */

.project .proj-content .section {
    margin-bottom: 5em;
}

.proj-images img {
    width: 100%;
    margin-bottom: 4em;
}

.project .proj-content .proj-text {
    width: 60%;
    margin: 0 auto;
}

.section .proj-text .title h1 {
    font-family: "Merriweather", serif;
    color: #9ea3a3;
    font-size: 6em;
}

.section .proj-text .title h2 {
    color: #9ea3a3;
    font-size: 2em;
    margin-top: 1.25em;
}

.project .section-header p {
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 400;
    color: #9ea3a3;
}

hr {
    background-color: #9ea3a3;
}

.text-container {
    margin-bottom: 4em;
}

.text-container .stats {
    padding: 10px 20px 10px 15px;
}

.text-container h1 {
    font-size: 2em;
    font-weight: 400;
}

.text-container h2 {
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 10px;
}

.text-container h3 {
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 10px;
}

.text-container p {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 1.1em;
    line-height: 18px;
    color: #9ea3a3;
}

.numbering span {
    display: inline-block;
    position: absolute;
    font-size: 1.1em;
    font-family: 'Poppins';
    color: #9ea3a3;
    font-weight: 600;
}

.numbering p {
    padding-top: 2px;
    margin-left: 2em;
    margin-bottom: 10px;
    font-size: 1.1em;
    line-height: 18px;
    color: #9ea3a3;
}

.numbering img {
    margin-left: 2em;
    width: 96%;
}

.m-t-2 {
    margin-top: 2em;
}


/* modal  */

#pjimages {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#pjimages:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #9ea3a3;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.3s;
    animation-name: zoom;
    animation-duration: 0.3s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.exit {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #9ea3a3;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.exit:hover,
.exit:focus {
    color: #714288;
    text-decoration: none;
    cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}